body {
  margin: 0;
  padding: 0;
}

.container_main {
  margin: auto;
  max-width: 1050px;
  text-align: justify;
  .container_head {
    text-align: justify;
    .head_text__normal {
      font-size: 1.1rem;
      a {
        color: rgb(0, 130, 250);
      }

    }
  }
  .container_coffee {
    display: flex;
    flex-direction: column;
    .coffee_row1 {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 3vh;
    }

    .coffee_row2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .coffee_presentation {
      background-color: lightgray;
      max-width: 480px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        padding-left: 0.8vw;
        text-transform: uppercase;
      }
      img {
        border-top: 2px solid rgb(150, 150, 150);
      }
      .coffee_description__italic {
        font-style: italic;
      }
      p {
        padding-left: 0.8vw;
        padding-right: 0.8vw;
      }
    }
  }
}

footer {
  background-color: #343a40;

  .footer_menu {
    display: flex;
    justify-content: space-evenly;
    padding: 5vh 30vw;

    .menu_items {
      list-style: none;
      font-size: 1.3rem;
      .footer_current {
        color:white;
        text-decoration: none;
      }
    }
  }
  .footer_links {
    text-align: center;
    padding-bottom: 5vh;
    color: white;
    font-size: 1.1rem;
    h3 {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  a {
    color: rgb(0, 130, 250);
    &:hover {
        font-size: 1.5rem;
    }
  }


}

