body { 
    font-family: "Roboto Condensed", sans-serif;
}

h1 {
    font-size: 2.5 rem;
    font-weight: normal;
}

.footer_current {
    color: white;
    text-decoration: none;
  }

.header_bars {
    nav {
        a {
            color: gray;
            text-decoration: none;
        }
    }
}
