body {
    width: 100vw;
    height: 100vh;
    margin: 0;
   }

.header {
    background-color: rgb(201, 195, 195);
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
}

.header_img {
    width: 90px;
    height: 90px;
    padding-left: 300px;   
    
    
}

.header_bars{
    display: flex;
    justify-content: flex-end;    
    width: 80vw;
    
    padding-right: 100px;
    

}

nav {
   display: flex;
   justify-content: space-between;
   margin-right: 25px;
   font-size: 1.25rem;
   padding-right: 10px;
}

.container{
    width: 100vw;
    height: 80vh;   
    justify-content: center;
    
    display: flex;
    
}

.container_inside {
    width: 60vw;
    height: 80vh;
    
    justify-content: center;
    
}

.container_part1 {
    
}

.container_part2 {
   width: 60vw;
   height: 63.5vh;
}

.map {
    width: 60vw;
    height: 63.5vh;
}

.info {
    width: 60vw;
    height: 15vh;
   display: flex;
   justify-content: flex-start;
   margin-bottom: 10px;
   
   
}

.hours {
    margin-right: 110px;
}

.book {
    margin-right: 110px;
}