body{
width: 100%;
height:100%;
margin: 0;
display: flex;
justify-content: center;
flex-direction: column;
}

.container {

 width: 100%;
 height: 80%;
 display: inline;
 justify-content: center;
}

.container1 {
    display: flex;
    justify-content: center;
    width: 100%;

}

.container2 {
    display: flex;
    justify-content: center;
}

.container3 {
    display: flex;
    justify-content: center;
}


.img_Menu {
width: 50%;
}

.img_Filter {
    width: 50%;
}

.img_Iced {
    width: 50%;
}

.img_Hot {
    width: 50%; 
}

.img_Non-alcoholiv-beverages
{
    width: 50%;
}

.img_Water 
{
    width: 50%;
}

.detail
{
    width: 40%;
    height: 20%;
    display: flex;
    margin-left: 30%;


   

}

.header {
    background-color: rgb(201, 195, 195);
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
}

.header_img {
    width: 90px;
    height: 90px;
    padding-left: 300px; 
}

.header_bars{
    display: flex;
    justify-content: flex-end;    
    width: 80vw;    
    padding-right: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    font-size: 1.25rem;
    padding-right: 10px;
}
  
    